<div id="footer" >
		<p class="copyright">Powered by <a href="http://zespia.tw/hexo/" target="_blank" title="hexo">hexo</a> and Theme by <a href="https://github.com/wuchong/jacman" target="_blank" title="Pacman">Jacman</a> © <%= new Date().getFullYear() %> 
		
		<% if (theme.baidu_analytics.enable){ %>

		<script type="text/javascript">
		    re = new RegExp('localhost');
		    if(! window.location.host.match(re)) {
		        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3ffc15f400ce3f8b1db5afc4f29b6ce9' type='text/javascript'%3E%3C/script%3E"));
		    }
		    
		</script>

		<% } %>
		</p>
</div>