<center>
    <img alt="KeepWritingCodes 微信公众号" src="/images/wx_qrcode.jpg"></img>
</center>
<p>本博客使用 <a href="https://disqus.com/">disqus</a> 评论系统，但不幸被墙，不会翻墙的小伙伴可以通过上面的公众号与我交流。希望我们的交流能给你我带来些许启发。</p>
<p>PS: 微信公众号，头条，掘金等平台均有我文章的分享，但我的文章会随着我理解的加深不定期更新，建议大家最好去我的<a href="http://liujiacai.net">博客 liujiacai.net </a>阅读最新版。</p>
