<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://www.sundabao.com/">孙大宝</a></li>
      <li><a href="http://blog.csdn.net/xx_123_1_rj/">刘银星</a></li>      
      <li><a href="http://blog.csdn.net/u014120684">熊俊</a></li>
    </ul>
</div>