<div class="linkslist">
    <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://www.sundabao.com/">孙大宝，PHP 是最好的语言</a></li>
      <li><a href="http://bysocket.com/">子木，专注 Java 好多年</a></li>
      <li><a href="http://adairjun.github.io/">熊俊，C++/Golang</a></li>
      <li><a href="http://blog.csdn.net/xx_123_1_rj/">刘银星，学弟的博客</a></li>
      <li><a href="http://blog.javachen.com/">JavaChen，Java、大数据</a></li>
    </ul>
</div>
